.bg-img {
    position: fixed;
    top: 0px;
    width: 100%;
}

.filter-bar {
    height: 80px;
    width: 100%;
    background-color: bisque;
}

.back-button {
    float: right;
}

.navbar {
    margin-bottom: 0px !important;
}

.button-mid {
    margin-left: auto;
    margin-right: auto;
}

.line {
    width: 90%;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.search-heading {
    background-color: beige;
    border: 1px solid black;
    position: fixed;
    z-index: 2;
}

#wrapper {
    padding-top: 50px;
}

.foods {
    z-index: 1;
    padding-top: 180px;
}