.text-box {
    height: 320px;
    width: 100%;
    margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.5);
}

.text-box > p {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.text-box h3 {
	padding-top: 30px;
	margin-left: 30px;
}

.text-box div {
	margin-left: 30px;
}

#createNewDinnerButton {
	margin-top: 10px;
	margin-left: 30px;
}

.container {
	padding-left: 0;
	margin-left: 0;
}