.recipe {
  border: 1px solid black;
  background-color: #FFEA94;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#confirmDishButton {
  background-color: white;
}
#dishCost {
  float: right;
}
.big-pic {
  height: 200px;
}
.instructions {
  margin: 30px;
}
