<!--maybe overview bar should be separate?-->
<!--overview bar-->
<div id="overview-bar" class="filter-bar"><span class="hed-text">My Dinner: <span id="numberOfGuests"></span> people</span>
    <a href="#/search" id="go-back" class="btn btn-default float-right">Go back and  edit dinner</a>
</div>
<!--end of overview bar-->

<!--dinner overview-->
<div id="dinner-overview" class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div id="overviewFullMenuList" class="col-md-6"></div>
        <div class="col-md-1" id="full-price"></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row border-up">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <a href="#/print" id="print" class="btn btn-default centerButton">Print full recipe</a>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--end of dinner overview-->